APP_PORT=3003
PORT=3003
DB_EXPOSE_PORT=5543
POSTGRES_DB=mvc_exercise
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5543
SERVICE_NAME=starter-mvc
LOG_LEVEL=info
LOG_FILE_PATH=./logs/app.log
